.add-task-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  position: fixed;
  top: 20%;
  left: 35%;
  margin-top: 3rem;
  padding-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .add-task-container {
    width: 96vw;
    height: min(60vh, 100%);
    margin-left: 0.5rem;
    position: relative;
    top: auto;
    left: 0;
    overflow: scroll;
  }
}
