.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-top: 3rem;
  padding-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .login-container {
    width: 90vw;
    height: 75vh;
  }
}

@media only screen and (min-width: 768px) {
  .login-container {
    width: 40vw;
    height: 65vh;
  }
}
@media only screen and (min-width: 1024px) {
  .login-container {
    width: 30vw;
    height: 60vh;
  }
}
@media only screen and (min-width: 1280px) {
  .login-container {
    width: 30vw;
    height: 55vh;
  }
}
